.btn{
    width: 30px;
    height: 2px;
    background: #000;
    position: relative;
    transition: all .3s linear;
}
.btn::before,
.btn::after{
    content: "";
    left: 0;
    position: absolute;
    width: 30px;
    height: 2px;
    background: #000;
    transition: all .3s linear;
}
.btn::before {
    transform: translateY(-8px);
}

.btn::after {
    transform: translateY(8px);
}
.btn.open{
    transform: rotate(180deg);
    background: transparent;
}
.btn.open::before{
    transform: rotate(45deg);
}
.btn.open::after{
    transform: rotate(-45deg);
}